@import '_variables';

.dropdown {
  position: relative;
  width: 40px;
  height: 40px;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    right: 20px;

    a {
      cursor: pointer;
      color: black;
      padding: 8px 12px;
      text-decoration: none;
      text-align: center;
      display: block;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.mini{
  font-size: 12px;
}
