@import '_variables';

.header{
  padding: 17px 22px 16px 30px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  width: 40px;
  height: 40px;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    right: 20px;

    a {
      cursor: pointer;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      text-align: center;
      display: block;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}