@import '_variables';

.show_name{
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 32px;
}

.show_description{
  margin: 35px 0 10px;
  padding: 20px 16px 26px 15px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(244, 244, 244);
}

.show_deadline{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 35px;
}

.show_comment_new{
  width: 100%;
  height: 57px;
  font-size: $font-lg;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
}
