.header {
  padding: 17px 22px 16px 30px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 18px;
  color: #000000;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  padding: 16px 16px;
  width: 100%;
}