.header {
  padding: 17px 22px 16px 30px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input.text, select.text {
  width: 100%;
  margin-top: 4px;
  padding: 16px 24px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
}

.field {
  margin-top: 33px;
}

label {
  font-size: 18px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 18px;
  color: #000000;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  padding: 32px 26px;
  width: 100%;
}